:root {
    --bg-color: #F5F5F5;
    --text-color: #312A4E;
    --accent-color: #FFAB6B;
    --main-font: Raleway;
    --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    min-inline-size: 360px;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--main-font), sans-serif;
}

.theme_dark {
    --bg-color: #171717;
    --text-color: #B3B3B3;
    --accent-color: transparent;
}


p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
    margin: 0;
}

body {
    text-align: center;
}

.header {
    margin-top: 10vw;
}

.heading {
    font-family: var(--accent-font), sans-serif;
    font-weight: 600;
    line-height: 0.9;
}

.content-section {
    padding-left: 5vi;
    padding-right: 5vi;
}

.header_title {
    font-size: clamp(3.75rem, 2.5rem + 5.56vw, 7.5rem);
    padding-bottom: 40px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__theme-toggler {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 5px;
}

.header__theme-button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.04;
    cursor: pointer;
}

.header__theme-button_is-active {
    font-weight: bold;
    position: relative;
    pointer-events: none;
}

.header__theme-button_is-active::after {
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    z-index: -1;
    width: 81px;
    height: 6px;
    top: 10px;
    left: 2px;
}

.theme_dark .header__theme-button_is-active::after {
    background-image: url("../images/pattern.svg");
}

.header__theme-button:focus-visible {
    outline: 1px solid var(--text-color);
    outline-offset: 2px;
}

.header__theme-button:not(.header__theme-button_is-active):hover {
    text-decoration: underline;
}

.content_title {
    font-size: 30px;
    margin-top: 6.4vw;
    margin-bottom: 2.8vw;
}

.content__text-block {
    font-family: var(--main-font), sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.link {
    color: inherit;
}

.content__paragraph {
    text-align: initial;
}

.content__text-block > .content__paragraph:not(:last-child) {
    margin-bottom: 1.5em;
}

.content__blockquote {
    display: inline-block;
    margin-bottom: 1.5em;
    width: 75%;
    text-align: center;
    font-style: italic;
    line-height: 2;
}

.text_align_left {
    display: inline-block;
    text-align: left;
}

.content-list {
    padding-top: 0;
    list-style-type: none;
    text-align: initial;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.content-list > li {
    position: relative;
}

li::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url("../images/marker-light.svg");
    background-size: cover;
    top: 0;
    left: -25px;
}

.theme_dark li::before {
    background-image: url("../images/marker-dark.svg");
}

.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
    background-color: var(--accent-color);
    text-align: center;
    display: inline-block;
    padding-left: 8px;
    margin-right: 4px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.3em;
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
    border: 1px solid var(--text-color);
}

.content__figure {
    margin-top: 6.5vw;
    margin-bottom: 6.5vw;
    width: calc(100% + 10vi);
}

.content__figure picture {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
    left: -5vi;
}

.content__picture {
    width: 100%;
}

.content__picture-caption {
    font-size: 18px;
    line-height: 1;
    position: relative;
    left: -5vi;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--text-color);
}

.content__card {
    aspect-ratio: 4/3;
    border: 1px solid var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6.7vw;
}

.content__card-title {
    font-size: 60px;
}

.content__card-subtitle {
    font-size: 18px;
}

.colored-text {
    position: relative;
}

.colored-text::after {
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    z-index: -1;
    width: 220px;
    height: 15px;
    top: 35px;
    left: -3px;
}

.theme_dark .colored-text::after {
    content: "";
    position: absolute;
    background-color: transparent;
    background-image: url("../images/pattern.svg");
    z-index: -1;
    width: 220px;
    height: 15px;
    top: 35px;
    left: -3px;
}

.footer {
    color: var(--text-color);
    margin-top: 10vw;
    padding: 2.5vw;
    border-top: 1px solid var(--text-color);
    font-size: 18px;
    line-height: 1;
}



